Django==1.4.5
Markdown==2.2.1
PIL==1.1.7
South==0.7.6
boto==2.8.0
dj-database-url==0.1.2
django-durationfield==0.3.3
django-gravatar==0.1.0
django-heroku-memcacheify==0.4
django-heroku-postgresify==0.3
django-pylibmc-sasl==0.2.4
django-storages==1.1.6
django-tagging==0.3.1
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.2
psycopg2==2.4.6
pylibmc==1.2.3
wsgiref==0.1.2
