<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}Hypothetical - A weekly movie, comic and media review show</title>
        <meta name="viewport" content="width=device-width">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/audiojs/audio.min.js"></script>

        <script>
        audiojs.events.ready(function() {
            var as = audiojs.createAll();
          });
  
          // audio player provided by http://kolber.github.com/audiojs/ (thanks!)
        </script>
        <style>
        body {
        font-family: 'helvetica neue', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        }
        
        h1 a {font-size: .8em;}
        .wrap {margin: 0 auto; width: 500px;}
        
        .footer {text-align: center; font-size: 11px; margin-top: 100px;}
        
        .righty {
            float: right;
        }
        
        hr {opacity: .1; padding-bottom: 20px; display: block;}
        </style>
        
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        <div class="wrap">
            
            <h1><a href="/">Hypothetical</a></h1>
            <h3>A weekly movie, comic and media review show</h3>
            <p>On <a href="https://itunes.apple.com/us/podcast/hypothetical-podcast/id579009463?mt=2">iTunes</a>, <a href="/feed">RSS</a>, <a href="https://twitter.com/hypotheticalp">Twitter</a>, <a href="http://letterboxd.com/stickwithjosh/list/hypotheticalpodcast">Letterboxd</a>. &amp; <a href="mailto:talk@hypotheticalpodcast.com">Email</a></p>
            
            {% block content %}{% endblock %}
            
            <div class="footer">

                <p><a href="http://internetpodcasts.com">Another Internet Podcast</a> | No copyright intended</p>
    </div>
    
    <script type="text/javascript">



     var _gaq = _gaq || [];

     _gaq.push(['_setAccount', 'UA-104128-11']);

     _gaq.push(['_trackPageview']);



     (function() {

       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

     })();



   </script>
    
    
    
    </body>
</html>
