{% extends "base.html" %}
{% load markup %}

{% block extraheader %}
    <meta property="og:title" content="An Impolite Podcast {% if object.title %}- {{ object.title }}{% endif %}" />
    <meta property="og:description" content="{{ object.show_notes|striptags|truncatewords:15 }}" />
    <meta property="og:image" content="{{ STATIC_URL }}img/fb-share.png" />
    <meta property="og:url" content="http://www.theunreliablespodcast.com{{ object.get_absolute_url }}" />
    <meta property="og:type" content="article" />
    <meta property="fb:admins" content="678090273"/>
{% endblock %}
{% block content %}

<h2>{{ object.title }}</h2>

<p><audio src="{{ object.mp3.url }}" preload="none"></audio></p>

<p>Contributors: {% for contributor in object.contributors.all %}{% if not forloop.first %}{% if not forloop.last %}, {% endif %}{% endif %}{% if forloop.last %} & {% endif %}<a href="{{ contributor.get_absolute_url }}">{{ contributor.name}}</a>{% endfor %}</p>
<p><a href="{{ object.mp3.url }}">Download this episode</a></p>
{{ object.show_notes|markdown }}

{% endblock %}